<link rel="stylesheet" href="/stylesheets/style.css" />

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<a href="/"><button id="go-back">Back to menu</button></a>
