<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/logout.js" defer></script>

    <title>Menu</title>
  </head>
  <body class="menu">
    <header>
      <h4 class="hello-user">hello, <%= user.username %></h4>
      <h1 class="movies-title">MOVIES</h1>
    </header>

    <main class="menu-main">
      <div class="menu-btns">
        <span class="search">
          <a href="/search">
            <button>Search for Movies</button>
          </a>
        </span>

        <span class="create">
          <a href="/create">
            <button>Create New Movie</button>
          </a>
        </span>

        <% if (user.role === 'admin') { %>
        <span class="users">
          <a href="/users">
            <button>Edit Users</button>
          </a>
        </span>

        <% } %>
      </div>
    </main>

    <% if (status === "created") { %>
    <div class="message-panel">
      <div>
        <h3>Your movie has been created successfully.</h3>
      </div>
    </div>
    <% } %>

    <footer>
      <button class="back-btn" onclick="logout()">Log Out</button>
    </footer>
  </body>
</html>
